body {
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    align-items: center;
    margin-top: 150px;
    overflow: visible;
    min-height: 100vh;
    justify-content: center;
}

.imgCards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 3.5%; 
    width: 100%;

}

.imgCards .card {
    width: 48%; 
    box-sizing: border-box; 
}
